h1{
    border-bottom: 2px solid black;
}
.container{
 width:400px;
    display: block;
    margin: auto;
    border: 4px solid black;
}
img{
    display: block;
    margin: auto;
}

.changePhoto{
     display: block;
    margin: auto;   
}